/*html{
	background-color: #fafafa;
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
	font-size: 1.1em;
	line-height: 1.3;
}

body{
	
}

h1{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 4em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 900;
}
h2{
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
}*/