<!DOCTYPE html>
<html>
<head>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Georgia Tech Glee Club</title>
</head>
<body>
	<div id="booking"><!-- for vue app  -->
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="index.html">
			<span class="icon is-small" style="width: 3vw;">
				<i class="fas fa-home"></i>
			</span>
	    </a>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	  <div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
	    <div class="navbar-start">
			<a class="navbar-item" href="about.html">About</a>
			<a class="navbar-item" href="videos.html">Videos</a>
			<a class="navbar-item" href="events.html">Events</a>
			<a class="navbar-item is-active" href="booking.html">Booking</a>
			<a class="navbar-item" href="contact.html">Contact</a>
	    </div>

	    <div class="navbar-end">
	      <!-- navbar items -->
	    </div>
	  </div>
	</nav>

	<div><!-- container -->
		<section class="section">
		    <div class="container">
		      <h1 class="title">Book the Glee Club</h1>
		      <p class="subtitle">Interested in having the Georgia Tech Glee Club perform at your next stadium tour/bar mitzvah/book club meeting? Fill out the form below and someone will be in touch with you as soon as possible (when ME 2110 homework is done. Well...done enough, anyway).</p>
		    </div>
	  	</section>
		<section class="section">
			<div class="container">
				<form v-on:submit.prevent="submitForm">
					<h2 class="is-size-2">Contact Info</h2>
					<div class="field">
					  <label class="label">Organization</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Arlen Book Club" v-model="bookingOrg" v-on:blur="checkBookingOrg" v-bind:class="{'is-danger': bookingOrgFailed}">
					  </div>
					  <p v-if="bookingOrgFailed" class="help is-danger">Required</p>
					  <p class="help">What is your organization or group? Or is it just you? (This is a no-judgement zone)</p>
					</div>

					<div class="field">
					  <label class="label">Contact Name</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="George Burdell" v-model="bookingContactName" v-on:blur="checkBookingContactName" v-bind:class="{'is-danger':bookingContactNameFailed}">
					  </div>
					  <p v-if="bookingContactNameFailed" class="help is-danger">Required</p>
					  <p class="help">It's probably you, but maybe not?</p>
					</div>

					<div class="field">
					  <label class="label">Contact Phone Number</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="678-867-5309" v-model="bookingContactPhoneNumber" v-on:blur="checkBookingContactPhoneNumber" v-bind:class="{'is-danger':bookingContactPhoneNumberFailed}">
					  </div>
					  <p v-if="bookingContactPhoneNumberFailed" class="help is-danger">Required</p>
					  <p class="help">We don't necessarily need a phone number, but it's nice.</p>
					</div>

					<div class="field">
					  <label class="label">Contact Email</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="gburdell3@gatech.edu" v-model="bookingContactEmail" v-on:blur="checkBookingContactEmail" v-bind:class="{'is-danger':bookingContactEmailFailed}">
					  </div>
					  <p v-if="bookingContactEmailFailed" class="help is-danger">Required</p>
					  <p class="help">We really need an email though like for real for real.</p>
					</div>

					<h2 class="is-size-2">Event Info</h2>
					<div class="field">
					  <label class="label">Name of Event</label>
					  <div class="control">
					    <input class="input" type="text" placeholder='"Smith Wedding," "Raising of Beelzebub on this Winter Solstice"' v-model="bookingNameOfEvent" v-on:blur="checkBookingNameOfEvent" v-bind:class="{'is-danger':bookingNameOfEventFailed}">
					  </div>
					  <p v-if="bookingNameOfEventFailed" class="help is-danger">Required</p>
					  <p class="help">Name or short description of the event</p>
					</div>

					<div class="field">
					  <label class="label">Date of Event</label>
					  <div class="control">
					    <input class="input" type="date" v-model="bookingDateOfEvent" v-on:blur="checkBookingDateOfEvent" v-bind:class="{'is-danger':bookingDateOfEventFailed}">
					  </div>
					  <p v-if="bookingDateOfEventFailed" class="help is-danger">Required</p>
					  <p class="help">When is this again?</p>
					</div>

					<div class="field">
					  <label class="label">Time of Event</label>
					  <div class="control">
					    <input class="input" type="time" v-model="bookingTimeOfEvent" v-on:blur="checkBookingTimeOfEvent" v-bind:class="{'is-danger':bookingTimeOfEventFailed}">
					  </div>
					  <p v-if="bookingTimeOfEventFailed" class="help is-danger">Required</p>
					  <p class="help">When will we be performing? Not set in stone, but give us an idea.</p>
					</div>

					<div class="field">
					  <label class="label">Location of Event</label>
					  <div class="control">
					    <input class="input" type="text" placeholder="Your mom's house" v-model="bookingLocationOfEvent" v-on:blur="checkBookingLocationOfEvent" v-bind:class="{'is-danger':bookingLocationOfEventFailed}">
					  </div>
					  <p v-if="bookingLocationOfEventFailed" class="help is-danger">Required</p>
					  <p class="help">Where dis</p>
					</div>

					<div class="field">
					  <label class="label">Comments</label>
					  <div class="control">
					    <textarea class="textarea" type="text" placeholder="Never read the comments" v-model="bookingComments"></textarea>
					  </div>
					  <p class="help">Comments, questions, concerns, exhaustive details, hopes and dreams, etc.</p>
					</div>

					<div class="field">
						<button class="button is-primary" v-if="submitted" disabled>You did it! Yay!</button>
						<button class="button is-primary" v-else v-bind:class="{'is-loading': isLoading}">BLOOP IT!</button>
						<p v-if="submitted">Oopsie did you eff it up? No worries, just <a v-bind:href="'mailto:gleeclub_officers@lists.gatech.edu?subject=' +bookingNameOfEvent+ '%20Follow%20Up'">email the officers</a> to clarify any points in your booking request.</p>
					</div>
				</form>

				<!-- <h2 class="is-size-2">Results</h2>
				<p>bookingOrg: {{bookingOrg}}</p>
				<p>bookingContactName: {{bookingContactName}}</p>
				<p>bookingContactPhoneNumber: {{bookingContactPhoneNumber}}</p>
				<p>bookingContactEmail: {{bookingContactEmail}}</p>
				<p>bookingNameOfEvent: {{bookingNameOfEvent}}</p>
				<p>bookingDateOfEvent: {{bookingDateOfEvent}}</p>
				<p>bookingTimeOfEvent: {{bookingTimeOfEvent}}</p>
				<p>bookingLocationOfEvent: {{bookingLocationOfEvent}}</p>
				<p>bookingComments: {{bookingComments}}</p> -->
			</div>
		</section>
	</div><!-- container -->
	</div><!-- for vue app  -->
	<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>-->
	<script type="text/javascript" src="js/booking.js"></script>
</body>
</html>