/*
gold: C59353
navy: 00254c
yellow: EEB211
*/

.GTgold{
	background-color: #C59353 !important;
}
.GTnavy {
  background-color: #00254c !important;
}
.GTyellow {
  background-color: #EEB211 !important;
}