<html>
<head>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Georgia Tech Glee Club</title>
</head>
<body>
	<div id="events">
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="index.html">
			<span class="icon is-small" style="width: 3vw;">
				<i class="fas fa-home"></i>
			</span>
	    </a>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	  <div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
	    <div class="navbar-start">
			<a class="navbar-item" href="about.html">About</a>
			<a class="navbar-item" href="videos.html">Videos</a>
			<a class="navbar-item is-active" href="events.html">Events</a>
			<a class="navbar-item" href="booking.html">Booking</a>
			<a class="navbar-item" href="contact.html">Contact</a>
	    </div>

	    <div class="navbar-end">
	      <!-- navbar items -->
	    </div>
	  </div>
	</nav>
	<section class="section">
		<div id="container" class="container">
			<h1 class="title">Upcoming Events</h1>
			<div class="columns">
				<div class="column is-one-quarter">
					<div class="box">
						<table class="table is-fullwidth is-hoverable">
							<thead></thead>
							<tbody>
								<tr v-for="item in events"
									v-bind:key="item.id"
									v-bind:class="{'has-background-light': item.id == currentEvent.id}"
									v-bind:style="{'cursor': item.id != currentEvent.id ? 'pointer' : 'default'}"
									@click="loadEvent(item.id)">
									<td>
										<span class="has-text-weight-bold">{{item.name}}</span><br>
										<span>{{humanTime(item.time, 'day')}}</span>
									</td>
								</tr>
							</tbody>
							<tfoot></tfoot>
						</table>
					</div>
				</div>
				<div class="column">
					<div class="box">
						<div class="event"
							v-if="currentEvent">
							<h3 class="has-text-weight-bold is-size-5">{{currentEvent.name}}</h3>
							<p>{{humanTime(currentEvent.time)}}</p>
							<p class="location">{{currentEvent.location}}</p>
							<br><p>{{currentEvent.description}}</p>
							<br><p>
								<a target="_blank" :href="'https://gleeclub.gatech.edu/buzz/api.php?action=calendar&event='+currentEvent.id">Put that in your calendar and smoke it.</a>
							</p>
						</div>
						<div v-else>
							<p>We don't have anything coming up, but check back closer to when the semester is going to start.</p>
						</div>
					</div>
		      	</div>
	      	</div>
	      	<p v-else>We don't have anything coming up, but check back closer to when the semester is going to start.</p>
	  	</div>
	</section>
	</div><!-- vue -->
	<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>-->
	<script type="text/javascript" src="js/events.js"></script>
</body>
</html>