<html>
<head>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Georgia Tech Glee Club</title>
</head>
<body>
	<div id="events">
	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="index.html">
			<span class="icon is-small" style="width: 3vw;">
				<i class="fas fa-home"></i>
			</span>
	    </a>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	  <div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
	    <div class="navbar-start">
			<a class="navbar-item" href="about.html">About</a>
			<a class="navbar-item" href="videos.html">Videos</a>
			<a class="navbar-item is-active" href="events.html">Events</a>
			<a class="navbar-item" href="booking.html">Booking</a>
			<a class="navbar-item" href="contact.html">Contact</a>
	    </div>

	    <div class="navbar-end">
	      <!-- navbar items -->
	    </div>
	  </div>
	</nav>
	<section class="section">
		<div id="container" class="container">
			<div v-if="thereAreEvents">
				<p>We perform all the time hither and thither, sometimes open to the public and sometimes not. Please come see us at any of the following events!</p>
					<event
						v-for="item in events"
			      		v-bind:eventprop="item"
			      		v-bind:key="item.id">
			      	</event>
		    </div>
		    <p v-else>Looks like there aren't any events coming up that you can come to, but check back again soon!</p>
		</div>
	</section>
	</div><!-- vue -->
	<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>-->
	<script type="text/javascript" src="js/events.js"></script>
</body>
</html>