<html>
<head>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bulma.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Georgia Tech Glee Club</title>
</head>
<body>
	<div id="videos">
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
		    <a class="navbar-item" href="index.html">
			<span class="icon is-small" style="width: 3vw;">
				<i class="fas fa-home"></i>
			</span>
		    </a>

		    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" v-bind:class="{'is-active': burgerIsActive}" v-on:click="burgerIsActive = !burgerIsActive">
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		    </a>
		  </div>
		  <div class="navbar-menu" v-bind:class="{'is-active': burgerIsActive}">
		    <div class="navbar-start">
				<a class="navbar-item" href="about.html">About</a>
				<a class="navbar-item is-active" href="videos.html">Videos</a>
				<a class="navbar-item" href="events.html">Events</a>
				<a class="navbar-item" href="booking.html">Booking</a>
				<a class="navbar-item" href="contact.html">Contact</a>
		    </div>

		    <div class="navbar-end">
		      <!-- navbar items -->
		    </div>
		  </div>
		</nav>
		<section class="section">
			<div class="container">
				<h1 class="title">Videos</h1>
				<table class="table is-fullwidth">
					<tbody>
						<tr v-for="video in rep" v-if="video.links.length">
							<td>{{video.title}}</td>
							<td>
								<p v-for="link in video.links"><a target="_blank" :href="'https://www.youtube.com/watch?v='+link.ytid">{{link.name}}</a></p>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- <ul>
					<li v-for="video in songs" v-if="video.links.length">
						{{video.title}}
						<ul>
							<li v-for="link in video.links">
								<a :href="'https://www.youtube.com/watch?v='+link.ytid">{{link.name}}</a>
							</li>
						</ul>
					</li>
				</ul>-->
			</div><!-- container -->
		</section>
	</div> <!-- vue -->
	<script type="text/javascript" src="js/videos.js"></script>
	<script type="text/javascript" src="samplerep.js"></script>
</body>
</html>