<html>
<head>
	<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="css/custom.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<nav>
		<div>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="videos.html">Videos</a></li>
				<li><a href="events.html">Events</a></li>
				<li><a href="booking.html">Booking</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div id="videos">
		<ul>
			<li v-for="video in songs" v-if="video.links.length">
				{{video.title}}
				<ul>
					<li v-for="link in video.links">
						<a :href="'https://www.youtube.com/watch?v='+link.ytid">{{link.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div><!-- container -->
	<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>-->
	<script type="text/javascript" src="js/videos.js"></script>
	<script type="text/javascript" src="samplerep.js"></script>
</body>
</html>